@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}
.nav-item :hover {
  text-decoration: underline;
  color: white !important;
}

.bag-item-count {
  background-color: #f16565;
  text-align: center;

  position: absolute;
  top: -13px;
  left: 18px;

  min-height: 23px;
  line-height: 23px;
  padding: 0 8px;

  font-size: 12px;
  font-weight: 700;
  color: #fff;

  border-radius: 999px;
}

.page-content {
  padding-top: 90px; /* adjust my navbar height use in my app.jsx*/
}

/* carousel */
.carousel-item img {
  width: 100%;
  height: 90vh;
}
h1,
h4 {
  font-family: 'Dancing Script', cursive;
}
/* Contact */
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #0d6efd;
  transition: background-color 0.4s ease, color 0.4s ease;
}
.contact:hover {
  background-color: #0d6efd;
  color: white;
}
/* newslatter */
.newsletter {
  height: 50vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
/* footer */
.footerlink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #0d6efd;
  transition: background-color 0.4s ease, color 0.4s ease;
}
.footerlink:hover {
  background-color: #0d6efd;
  color: white;
}
